    <h1>Giansar Pratiknya</h1>
    <p>Software Architect &nbsp;&bull;&nbsp; Programmer &nbsp;&bull;&nbsp; Java &nbsp;&bull;&nbsp; Spring &nbsp;&bull;&nbsp; Quarkus</p>
    <nav>
        <ul>
            <li>
                <a href="https://twitter.com/gpratiknya" class="icon brands fa-twitter">
                    <span class="label">Twitter</span>
                </a>
            </li>
            <li>
                <a href="https://www.facebook.com/giansar.pratiknya" class="icon brands fa-facebook-f">
                    <span class="label">Facebook</span>
                </a>
            </li>
            <li>
                <a href="https://github.com/giansar" class="icon brands fa-github">
                    <span class="label">Github</span>
                </a>
            </li>
        </ul>
    </nav>
