@inherits LayoutComponentBase

<div id="wrapper">
    <div id="bg"></div>
    <div id="overlay"></div>
    <div id="main">
        <!-- Header -->
        <header id="header"><Header/></header>
        @Body
        <!-- Footer -->
        <footer id="footer"><Footer/></footer>
    </div>
</div>